@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: 'montserratLight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'reset';
@import 'variables';
@import 'base';

@import 'components/header';
@import 'components/summary';
@import 'components/floor-plans';
@import 'components/apt-features';
@import 'components/gallery';
@import 'components/cta';
@import 'components/nearby';
@import 'components/contact';
@import 'components/map';
@import 'components/footer';
@import 'components/nav';

@import 'components/slider';
